@charset "utf-8";

body{

    background-color: #FFFFCC;
    background-image: url("../images/fractal.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center; 
    width: 100%;

}
form {
    padding: 1em;
    background: #f9f9f9;
    border:1px solid rgba(0,0.5,0,0.2);
    margin-top: auto;
    margin:40px 0 0 0;
    max-width: 400px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    opacity:10;
    border-radius: 10px;
}
form input {
    margin-bottom: 1rem;
    background: #fff;
    border: 1px solid #9c9c9c;
}
@media(max-width:768px){
    form{
        width:75%;
    }
}
@media (min-width: 400px) {
    form {
        overflow: hidden;
    }

    @media(max-width:480px){
        form{
            width:95%;
        }
        form button {
            background: lightgrey;
            padding: 0.7em;
            border: 0;
        }
        form button:hover {
            background: gold;
        }
        button {
            float: right;
            width: calc(100% - 200px);
        }

        input {
            width: 100%;
            padding: 0.7em;
            margin-bottom: 0.5rem;
            text-align: center; 
            float: left;

        }
        input:focus {
            outline: 3px solid gold;
        }
        input[type="submit"]:hover{
            opacity:2;
        }

        input[type="submit"]:active{
            transform: scale(0.95);
        }
    }
}
.ec-stars-wrapper {
	/* Espacio entre los inline-block (los hijos, los `a`) 
	   http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
	font-size: 0;
	/* Podríamos quitarlo, 
		pero de esta manera (siempre que no le demos padding), 
		sólo aplicará la regla .ec-stars-wrapper:hover a cuando
		también se esté haciendo hover a alguna estrella */
	display: inline-block;
}
.ec-stars-wrapper a {
	text-decoration: none;
	display: inline-block;
	/* Volver a dar tamaño al texto */
	font-size: 32px;
	font-size: 2rem;
	
	color: #888;
}

.ec-stars-wrapper:hover a {
	color: rgb(39, 130, 228);
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
	color: #888;
}